{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-1 h-100">
  <div class="row">
    <div class="col">
      <h1>{{ object.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-items-stretch text-nowrap pb-4">
    {% for column in object.column_set.all %}
        <div class="bg-light p-0 rounded d-inline-block shadow me-2" style="width: 20rem;">
          <div class="sticky-top bg-light rounded p-3" style="z-index: 999;/* Less than nav menu */">
            <h4 class="mb-0">{{ column.name }}</h4>
          </div>
          <div class="cards">
            {% for ticket in column.get_tickets %}
              {% include 'board/ticket.html' %}
            {% empty %}
              <div class="text-center text-secondary">
                <i class="bi bi-emoji-smile-fill"></i>
                <p>No tickets in this column</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block extracss %}
<style>
  .profile-image {
    margin-right: -15px;
    border: 4px solid #ddd;
  }
</style>
{% endblock %}